

body {
	font-family: 'Josefin Slab', serif;
  font-size: 14px;
}

/***************** Main Page ***********************/

#wrapper {
	width: 100%
	margin: 0 auto;
}

#home {
	background: url(../images/softwavesedit.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 3%;
  height: 525px;
}

/* =Nav
-------------------------------------------------------------- */
#nav-trigger {
  display: none;
  text-align: center; 
  position: fixed;
  margin-left: 40%;
  margin-bottom: 20%;
  z-index: 1000;
}
  #nav-trigger span {
    display: inline-block;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #6E7783;
    color: white;
    cursor: pointer;
    text-transform: uppercase; }
    #nav-trigger span:after {
      display: inline-block;
      margin-left: 10px;
      width: 20px;
      height: 10px;
      content: "";
      border-left: solid 10px transparent;
      border-top: solid 10px #fff;
      border-right: solid 10px transparent; }
    #nav-trigger span:hover {
      background-color: #6E7783; }
    #nav-trigger span.open:after {
      border-left: solid 10px transparent;
      border-top: none;
      border-bottom: solid 10px #fff;
      border-right: solid 10px transparent; }

nav {
  margin-top: -3%;
  margin-bottom: 30px;
  font-size: 1em;
  text-transform: uppercase;
   }

nav#nav-main {
  background-color: #6E7783;
  padding: 10px 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
  nav#nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  nav#nav-main li {
    display: inline-block;
    border-right: solid 1px #fff;
    padding: 0 5px; }
    nav#nav-main li:last-child {
      border-right: none; }
  nav#nav-main a {
    display: block;
    color: white;
    padding: 10px 30px; 
    text-decoration: none;
  }
    nav#nav-main a:hover {
      background-color: #454552;
      color: #fff; }

nav#nav-mobile {
  margin-top: 7%;
  position: fixed;
  z-index: 1000;
  display: none; 
}
  nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #6E7783; }
  nav#nav-mobile li {
    display: block;
    padding: 5px 0;
    margin-right: 7%;
    border-bottom: solid 1px #fff; 
  }
    nav#nav-mobile li:last-child {
      border-bottom: none; }
  nav#nav-mobile a {
    display: block;
    color: white;
    padding: 10px 30px; 
    text-decoration: none;
  }
    nav#nav-mobile a:hover {
      background-color: #454552;
      color: #fff; }

.content {
	padding: 25% 0 3% 0;
	text-shadow: 2px 2px 4px #454552;
}

.main_logo {
  text-align: center;
  color: #fff;
}

.title {
	font-size: 5em;
	font-weight: 700;
	margin: 0 auto;
}

.sub_title {
	text-align: center;
	font-weight: 800;
	font-size: 2.5em;
	color: #fff;
	border-radius: 5px;
	width: 75%;
	padding-top: 1%;
	padding-bottom: 2%;
	margin: 0 auto;
}

.button_wrapper {
	text-align: center;
}

.button {
	border: none;
	outline: none;
	border-radius: 25px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	text-align: center;
	margin-left: 2%;
}

.button_color {
	background: #454552;
	padding: 1%;
}

 

/**************** Services Page *******************/

.button_color2 {
	background: #4F86C6; 
	padding: 2.0%;
}

#services {
	background: #f4f7f7;
	padding-top: 3%;
	position: relative;
}

.service {
	background: #fff;
	border-radius: 5px;
  margin: 0 0 5% 10%;
	width: 75%;
	padding: 3% 2.5%;
	text-align: center;
	position: relative;
	-webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
	-moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
	box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
}

.service h3 {
	font-weight: 700;
	font-size: 1.5em;
}

.service p {
	padding-bottom: 2%;
	font-size: 1.1em;
}

.fa {
	padding-top: 5%;
	margin-left: 50%;
	text-align: center;
	text-decoration: none;
	color: #454552;
}

/**************** About Page  *******************/

#about {
	padding-top: 7%;
	height: 725px;
}

.about_header {
	text-align: center;
	font-size: 3em;
	margin-top: 5%;
}

.about_section p {
	text-align: center;
	width: 75%;
	margin: 0 auto;
	line-height: 1.25em;
	font-size: 1.1em;
}

.about_section h2 {
	text-align: center;
	font-style: bold;
	font-weight: 700;
}

.small_space {
	width: 50px;
}

.longer_space {
	width: 100px;
}


/**************** Services Details Page  *******************/

.services_details {
	background: #454552;
  height: 1200px;
  padding-top: 7%;
}

.services_header {
  font-size: 3em;
  text-align: center;
  color: #fff;
}

.details {
	background: #fff;
	border-radius: 5px;
	width: 75%;
	float: left;
	margin-bottom: 5%;
	margin-left: 12.5%;
	padding: 7% 0 7% 0;
	text-align: center;
	position: relative;
	-webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
	-moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
	box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
}

.details p {
	margin: 0 auto;
	width: 75%;
	font-size: 1.1em;
}

.details h3 {
	font-size: 1.5em;
}

.details2 {
	background: #f4f7f7;
}


/************** How it works page *************************/

.howitworks {
  height: 1200px;
	background: #f4f7f7;
}

#how_it_works {
  font-size: 3em;
  text-align: center;
  padding-top: 12%;
}

.works {
	border-radius: 5px;
	width: 75%;
	display: inline-block;
	float: left;
	padding: 3%;
	margin-left: 10%;
	margin-bottom: 2%;
	-webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
	-moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
	box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
}

.works h2 {
	text-align: center;
}

.step1 {
	background: rgba(164, 211, 238, .15);
}

.step2 {
	background: rgba(164, 211, 238, .35);
}

.step3 {
	background: rgba(164, 211, 238, .70);
}

.step4 {
	background: rgba(164, 211, 238, 1.0);
}

/************** Portfolio page *************************/

#portfolio {
	background: #454552;
	height: 700px;
  padding-top: 7%;
}

.portfolio_heading {
	font-size: 3em;
	color: #fff;
	text-align: center;
}

.portfolio_examples {
	background: #fff;
	border-radius: 5px;
	width: 75%;
	padding: 6%;
	margin-top: 3%;
	margin-left: 6.5%;
	text-align: center;
	-webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
	-moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
	box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
}

.portfolio_page {
	font-size: 5em;
	font-weight: 600;
	font-style: bold;
}

/************** Contact page *************************/

.contact {
	background: #566270;
  height: 600px;
  padding-top: 7%;
}

.contact_page h1 {
	font-size: 3em;
	color: #fff;
	text-align: center;
}

.contact_p {
	font-size: 1.5em;
	text-indent: 25px;
	color: #fff;
	display: inline;
	float: left;
	width: 42%;
	margin-left: 7%;
	margin-top: 3%;
}


.contact_list {
  display: inline-block;
  padding-left: 13%;
  list-style-type: none;
  color: #fff;
}

.contact_form {
	margin-top: 3%;
	margin-left: 10%;
	width: 20%;
	float: left;
  color: #fff;
}

.button_form {
	border: none;
	outline: none;
	border-radius: 5px;
	font-size: .75em;
	font-weight: 700;
	color: #000;
	text-decoration: none;
}

input[type=submit] {
	font-family: 'Josefin Slab', serif;
}

.footer_adjust {
	float: right;
	margin-right: 5%;
}
















